body {
    --cor-principal: #f25955
}

header {
    border: 0 !important;
}

.global-font {
    color: var(--cor-principal) !important;
}
.global-button {
    color: #fff !important;
    background-color: var(--cor-principal) !important;
}
.white-font {
    color: #fff;
    font-size: 15px;
}
.global-bg {
    background-color: var(--cor-principal);
}
.nav > i {
    font-size: 20px;
    margin-right: 15px;
}
.nav {
    align-items: center;
    margin-left: 4rem;
}
.nav-item > .nav-link {
    font-size: 16px;
    color: gray;
}
.nav-item > .global-font {
    font-weight: 500 !important;
}
#newsletter {
    background-color: #343a41;
    margin-top: 60px;
}
#newsletter > .row {
    flex-direction: column !important;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 40px;
}
#newsletter > .row > .col-9 {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#newsletter > .row > .col-9 > .col-12 > h1 {
    color: #fff;
}
#newsletter > .row > .col-9 > .col-9 > h4 {
    color: #fff;
    font-size: 1.375rem;
    padding-top: 15px;
    padding-bottom: 15px;
}
#newsletter> .row > .col-9 > .col-6 {
    padding-top: 10px;
}
.button-newsletter {
    width: 100%;
}
.contacts-div {
    flex-direction: column;
}
.gray {
    color: gray;
}
#contato > .row {
    margin: 50px;
}
h1 {
    font-weight: 400 !important;
}
h4 {
    font-weight: 400 !important;
}
.navegue, .conheca, .investir {
    border-bottom: 1px solid rgba(128, 128, 128, 0.26);
    padding-bottom: 5px;
}
#contato > .row > .col-2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    margin: 0 !important;
    padding: 0 !important;
}
#contato > .row > .col-2 > a {
    width: 25%;
}
#contato > .row > .col-6 .col-12{
    margin-bottom: 15px !important;
}
#contato > .row > .col-1 {
    margin: 0 !important;
    padding: 0 !important;
}
.h4-text {
    font-size: 18px;
}