body {
    --cor-principal: #f25955
}

.global-font {
    color: var(--cor-principal);
}
.white-font {
    color: #fff;
    font-size: 15px;
}
.global-bg {
    background-color: var(--cor-principal);
}