.imagem-principal {
    margin-bottom: 30px;
    height: 500px;
    width: 100%;
}
.imagem-principal .container-sobreposto{
  color:#fff;
  position: relative;
  bottom: 450px;
  margin-left: 100px;
  margin-right: 15px;
  width: 50%;
  background-color: rgba(0, 0, 0, 0.849) !important;
}
.imagem-principal > .container-sobreposto >.title {
    padding: 10px;
    margin: 20px;
    font-weight: 400 !important;
    font-size: 32px !important;
    line-height: 1.6;
}
.imagem-principal > img {
    width: inherit;
    height: inherit;
}
.buttons {
    top: 50px;
    position: relative;
}
.buttons-with-select {
    justify-content: space-evenly;
    margin-left: 5px;
    margin-right: 5px;
}
.bottom-buttons-with-select {
    margin-top: 15px;
    justify-content: space-evenly;
}
.filtro-avançado {
    margin-left: 1.9rem;
}
.button-pesquisar {
    float: right;
}
.title-ambiente {
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid #f25a5579;

}
#ambiente {
    margin-top: 100px;
}
.title-ambiente > h1 {
    font-weight: 400;
}
.title-ambiente > h4 {
    color: gray;
    font-weight: 400;
    padding: 5px;
    padding-bottom: 10px;
}
#ambiente > .row > .col-1 {
    margin: 0 !important;
    padding: 0 !important;
}
.container-top-margin {
    margin-top: 35px;
    flex-direction: column !important;
}
.cards-images {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 51px;
    max-width: 1150px;
    margin: 0 auto 30px;
}
article {
    position: relative;
}
  
.card-img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    filter: blur(15%) grayscale(15%);
}
  
.img-title {
    position: relative;
    text-align: center;
    bottom: 50%;
    font-size: 21px;
    color: #fff;
    text-shadow: 1px 1px 2px black;
}
#cardImages {
    margin-top: 40px;
}
.title-venda {
    align-items: center;
    border-bottom: 2px solid #f25a5579;
    justify-content: space-between;
}
.span-ver-mais {
    font-size: 19px;
}
#cards-venda {
    margin-top: 40px;
}
.venda-h1 {
    font-size: 22px;
    font-weight: 500;
}
.venda-h2 {
    font-size: 18px;
    font-weight: 400;
}
.venda-h3 {
    color: gray;
    display: flex;
    flex-direction: row;
    font-size: 16px;
    font-weight: 400;
}
.container-infos-vendas {
    margin: 15px;
}
.venda-h3 > .fa-location-arrow {
    font-size: 14px;
    margin-left: 5px;
}
.preco-venda {
    margin-top: 15px;
    margin-bottom: 15px;
}
.btn-venda {
    width: 100% !important;
    margin-bottom: 20px;
}
.bottom-lower-btn {
    justify-content: space-evenly;
    align-items: center;
}
.bottom-lower-btn > .col-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bottom-lower-btn > .col-3 > i {
    font-size: 30px !important;
}

.bottom-lower-btn > .col-3 > span {
    color: gray;
    width: max-content;
    font-size: 17px;
    margin-top: 5px;
}
#aVenda, #alugar {
    margin-top: 100px;
}